.features-box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

}
.title{
    font-weight: 880;
    margin-top: 80px;
    text-align: center;
    font-size: 37px;
}