.box-featurs {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imagem-base{
    margin-right: 80px;
    width: 70px;
    height: 70px;
}
.titulo-box, .subtitle-box{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titulo-box{
    margin-top: 40px;
}

.subtitle-box{

    margin-top: 10px;
}